<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="w-full min-h-screen bg-blue-200 p-10">
        <h1 class="text-4xl tracking-tighter mb-5 text-black bold-true">ShareThought</h1>
        <h2 class="text-2xl tracking-tighter mb-5 text-black">Welcome to The ShareThought</h2>
        <p class="text-lg mb-5 text-black">The ShareThought is a platform for sharing and discussing ideas.</p>
        
        <input class="px-4 py-2 bg-blue-500 rounded-lg ml-2 text-white cursor-pointer hover:bg-blue-600" 
            type="submit" value="Create User" onclick="window.location.href='/register'">
        <input class="px-4 py-2 bg-zinc-800 rounded-lg ml-2 text-white cursor-pointer hover:bg-zinc-600" 
            type="submit" value="Login" onclick="window.location.href='/login'">
    </div>
</body>
</html>