<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="w-full h-full bg-blue-200 p-10 text-white">
        <h2 class="text-3xl tracking-tighter mb-3 text-black">All Users</h2>
        <div class="Users">
            <div class="user max-w-72 p-4 rounded-lg bg-zinc-800"> 
                <div class="w-full h-52 p-4 rounded-lg bg-red-200"></div>
                    <h1 class="text-xl tracking-tighter mt-2">Neeraj Rathore</h1>
                    <h5>neerajrathore@gmail.com</h5>
                    <div class="flex-gap-3 mt-5">
                        <a class="text-blue-200 ml-2" href=""> Edit User</a>
                        <a class="text-red-300 ml-2" href=""> Delete User</a>
                    </div>
                </div>
            </div>
    </div>

</body>
</html>